<h1>Editing Admin Roast</h1>

<%= render 'form', admin_roast: @admin_roast %>

<%= link_to 'Show', @admin_roast, :class => "btn btn btn-block" %>
<%= link_to 'Back', admin_roasts_path, :class => "btn btn btn-block"  %>
