<h1>Editing Roast</h1>

<%= render 'form', roast: @roast, url_path: admin_roast_path%>

<%= link_to 'All Roasts', admin_roasts_path, :class => "btn btn btn-block"  %>
<%= link_to 'Admin Dashboard', admin_root_path, {:class => "btn btn btn-block"}%>
