<h1>Editing Batch</h1>

<%= render 'form', batch: @batch, url_path: admin_batch_path%>

<%= link_to 'All Roasts', admin_roast_path(@batch.roast.id), :class => "btn btn btn-block"  %>
<%= link_to 'Admin Dashboard', admin_root_path, {:class => "btn btn btn-block"}%>
